ag2==0.9.7
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
alabaster==1.0.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
asyncer==0.0.8
attrs==25.3.0
Authlib==1.6.1
autodoc_pydantic==2.2.0
autogen==0.9.7
autogen-agentchat==0.7.1
autogen-core==0.7.1
autogen-ext==0.7.1
azure-core==1.35.0
azure-identity==1.19.0
azure-storage-blob==12.26.0
babel==2.17.0
beautifulsoup4==4.13.4
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.75
langchain-ollama==0.3.6
langchain-openai==0.3.32
openai==1.99.9
streamlit==1.47.1